/*
COLORI
blu #0A325A
verde #7CBB01
grigio #D3D3D2
*/

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */

.row
{
  margin: 0 -15px;
  height: 100%;
}

.row::after
{
  content: "";
  display: table;
  clear: both;
}

.col-100
{
  width: 100%;
  float: left;
  padding: 0 15px;
}

.col-50
{
  width: calc(100% / 2);
  height: 100%;
  float: left;
  padding: 0 15px;
  position: relative;
}

.col-33
{
  width: calc(100% / 3);
  float: left;
  padding: 0 15px;
}

.mt-30
{
  margin-top: 30px;
}

.ml-15
{
  margin-left: 15px;
}

.pt-15
{
  padding-top: 15px;
}

.pb-15
{
  padding-bottom: 15px;
}

/* ------- */

.container
{
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

nav
{
  background: #0A325A;
  height: 80px;
  font-size: 13px;
}

/*
vertical-align: middle;
align-items: center;
*/

nav ul
{
  display: inline;
  margin-left: 50px;
}

nav ul li
{
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  line-height: 80px;
  color: white;
  text-decoration: none;
  /* background: red; */
  padding: 0 10px;
}

nav ul li a
{
  color: white;
  text-decoration: none;
}

.logo
{
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}

/* BOTTONI */

.bottoni
{
  display: inline;
  position: absolute;
  right: 0;
  line-height: 80px;
  color: #ffffff;
}

.btn
{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}

.vuoto
{
  background: none;
  border: none;
}

.contorno
{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 35px;
  background: none;
}

.verde
{
  border: 1px solid #7CBB01;
  border-radius: 5px;
  padding: 10px 10px;
  background: #7CBB01;
}

.verde-grande
{
  border: 1px solid #7CBB01;
  border-radius: 5px;
  padding: 20px 25px;
  background: #7CBB01;
}

/* ------- */

.jumbo
{
  height: 500px;
  background: #0A325A;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-size: 1000px, cover;
  background-position: right bottom;
}

.jumbo-txt
{
  color: white;
  font-size: 55px;
  font-weight: 500;
}

.descrizione
{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
