/*
COLORI
blu #0A325A
verde #7CBB01
grigio #D3D3D2
*/

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */

.row
{
  margin: 0 -15px;
  height: 100%;
}

.row::after
{
  content: "";
  display: table;
  clear: both;
}

.col-100
{
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

.col-50
{
  width: calc(100% / 2);
  height: 100%;
  float: left;
  position: relative;
}

.col-33
{
  width: calc(100% / 3);
  height: 100%;
  float: left;
  position: relative;
}

.mt-30
{
  margin-top: 30px;
}

.ml-15
{
  margin-left: 15px;
}

.pt-15
{
  padding-top: 15px;
}

.pb-15
{
  padding-bottom: 15px;
}



.container
{
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

/* FINE LAYOUT */

/* NAVBAR */

nav
{
  background: #0A325A;
  height: 80px;
  font-size: 13px;
}


nav ul
{
  display: inline;
  margin-left: 50px;
}

nav ul li
{
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  line-height: 80px;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav ul li a
{
  color: white;
  text-decoration: none;
}

.logo
{
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}

/* BOTTONI */

.bottoni
{
  display: inline;
  position: absolute;
  right: 0;
  line-height: 80px;
  color: #ffffff;
}

.btn
{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}

.vuoto
{
  background: none;
  border: none;
}

.contorno
{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 35px;
  background: none;
}

.verde
{
  border: 1px solid #7CBB01;
  border-radius: 5px;
  padding: 10px 10px;
  background: #7CBB01;
}

.verde-grande
{
  border: 1px solid #7CBB01;
  border-radius: 5px;
  padding: 20px 15px;
  background: #7CBB01;
}

/* FINE BOTTONI */

/* FINE NAVBAR */

/* JUMBO */

.jumbo
{
  height: 500px;
  background: #0A325A;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-size: 1000px, cover;
  background-position: 110% 100%;
}

.jumbo-txt
{
  color: white;
  font-size: 55px;
  font-weight: 500;
}

.descrizione
{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

/* FINE JUMBO */

/* SECTION GRIGIA */

.bg-grey
{
  width: 100%;
  background: #D3D3D2;
  height: 150px;
}

.sottotitolo
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sottotitolo h2
{
  font-weight: 500;
}

.sottotitolo p
{
  color: #7D7E7E;
  margin-top: 15px;
  width: 100%;
}

/* FINE SECTION GRIGIA */

/* SECTION CARD E DESCRIZIONI */

.card
{
  padding: 30px 30px;
  text-align: center;
}

.card img
{
  height: 150px;
  margin-bottom: 15px;
}

.card h2
{
  color: #7CBB01;
  font-weight: 500;
  height: 55px;
}

.card hr
{
  width: 70px;
  margin: 25px auto;
}

.card p
{
  color: #7D7E7E;
  line-height: 25px;
  min-height: 110px;
}

/* FINE SECTION CARD E DESCRIZIONI */

.hr-bottom
{
  width: 97%;
  margin: auto;
  border: 1px solid #dfdfdf;
}

.img-section-main
{
  padding: 50px;
  text-align: center;
  width: 550px;
}

.section-text
{
  padding-left: 50px;
  padding-right: 150px;
  padding-top: 30px;
}

.section-text h2
{
  font-weight: 500;
  font-size: 30px;
}

.section-text p
{
  color: #7D7E7E;
  padding: 20px 0;
  font-size: 18px;
}

.section-text a
{
  font-size: 14px;
  color: #3C7AB7;
}

/* FOOTER */

footer
{
  background: #D3D3D2;
  height: 150px;
}

footer h2
{
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.custom-select
{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.custom-select span
{
  color: #7D7E7E;
}

.cosa-sono
{
  margin: 0 30px;
  border-bottom: 1px solid #7D7E7E;
}

.cosa-sono::after
{
  content: '\25be';
  padding-left: 90px;
}

.btn-footer
{
  border: 1px solid #7CBB01;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px;
  background: #7CBB01;
  position: fixed;
  bottom: 0;
  right: 200px;
}

/* FINE FOOTER */
